<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>MindFlow Document</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>mindflow</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>MindFlowDocument</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.mindflow.mindmap</string>
            </array>
        </dict>
    </array>
    <key>CFBundleTypeExtensions</key>
    <array>
        <string>mindflow</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.mindflow.mindmap</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>mindflow</string>
            </array>
        </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.content</string>
            </array>
            <key>UTTypeDescription</key>
            <string>MindFlow Mind Map</string>
            <key>UTTypeIdentifier</key>
            <string>com.mindflow.mindmap</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>mindflow</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>application/x-mindflow</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist> 